.downloadContainer {

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 10px;

    background: var(--bg);
    border-radius: 15px;

    .thumbnail {
        aspect-ratio: ~"16/9";
        height: 100%;
        border-radius: 10px;

        background: var(--bg-lighter);
        overflow: hidden;
        display: grid;
        place-items: center;
        transition: background-color 200ms ease, color 200ms ease, font-size 100ms ease;
        color: var(--bg);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .thumbnail:hover {
        color: var(--bg-dark);
        // font-size: 1.4rem;
    }
    .thumbnail:active {
        font-size: 1.1rem;
    }
    



}