@import url("../../index.less");

.downloads {
    --toolbar-height: 40px;

    position: relative;
    display: grid;
    grid-template-rows: 50px auto calc(var(--toolbar-height) + 15px);
    overflow: hidden;

}

.downloadList {
    margin-right: 10px;
    max-height: 100%;
    overflow: visible;
    overflow-y: scroll;

    .scrollbar;
}

.searchBar {
    z-index: 5;
    display: flex;
    align-items: stretch;

    height: 30px;

    margin: 10px 0;
    padding: 0 10px;

    box-shadow: 0 15px 10px var(--bg-dark);

    & > * {
        flex-grow: 0;
    }

    .search {
        border-top: 1px solid rgba(var(--white-), 0.1);
        width: 20%;
        position: relative;
        background: var(--bg);
        border-radius: 10px;

        display: flex;
        align-items: center;

        transition: background 0.2s ease;

        &:hover {
            background: var(--bg-light);
        }

        & .searchIcon {
            margin-left: 10px;
        }

        & input {
            z-index: 1;
            background: none;
            font-size: 12px;
            font-weight: 500;
            color: var(--white);
            width: 100%;
            height: 100%;
            border: none;
            padding: 5px;
            
            &:focus {
                outline: none;
            }
        }
    }

    & .info {
        flex-grow: 1;
        font-size: 12px;
        display: grid;
        place-items: center;
    }

    & .sortOptions {
        display: grid;
        grid-template-columns: 5fr 1fr;
        gap: 10px;
    //    place-items: center;
        width: 200px; 

        & .toggleButton {
            display: grid;
            place-items: center;
            border-top: 1px solid rgba(var(--white-), 0.1);
            & svg {
                width: 18px;
                z-index: 2;
                transition: transform 0.2s ease;
            }

            &.active svg {
                transform: rotate(180deg);
            }
        }
    }


}

.toolBar {
    z-index: 5;
    height: var(--toolbar-height);
    // position: absolute;
    // bottom: 10px;
    // left: 5%;
    // right: calc(5% + 25px);
    margin: 10px;
    margin-top: 5px;

    border-radius: 10px;

    background-color: var(--bg);

    // box-shadow: 0 15px 25px rgba(0,0,0, 0.7),
    //             0 0px 7px rgba(var(--bg-dark-), 0.9),
    //             0 -15px 20px rgba(var(--bg-dark-), 0.6);
    box-shadow: 0 -20px 10px var(--bg-dark);
    border-top: 1px solid rgba(var(--white-), 0.1);


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
        height: 30px;
        padding: 0 10px;
        border: none;
        border-radius: 5px;
        background-color: var(--bg-lighter);
        transition: filter 200ms ease, transform 100ms ease;
    }
    button.active {
        outline: 2px solid var(--col1);
    }

    button:hover {
        filter: brightness(1.15);
    }
    button:active {
        transform: scale(0.95);
    }

    .downloadBtn {
        background: var(--col1);
        // height: 40px;
        box-shadow: 0 0 5px rgba(var(--col1-), 0.3), 0 0 10px rgba(var(--col1-), 0.3), 0 0 30px rgba(var(--col1-), 0.3);
        transition: padding 200ms ease, filter 200ms ease;
        padding: 0 20px;
        font-weight: 700;
        font-size: 1.1rem;
    }
}